<form method="post" action="{{ path('datos_delete', {'id': dato.id}) }}" onsubmit="return confirm('Seguro que quieres eliminar esta tarea?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dato.id) }}">
    <button class="btn">Eliminar</button>
</form>
