{% extends 'base.html.twig' %}

{% block title %}Registro nuevo{% endblock %}

{% block body %}
    <h1>Crear tarea nueva </h1>

    {{ include('datos/_form.html.twig') }}

    <a href="{{ path('datos_index') }}">Ir a la lista</a>
{% endblock %}
